name: Health Blog Automation

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install feedparser requests

      - name: Run Automation Script
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          UNSPLASH_KEY: ${{ secrets.UNSPLASH_KEY }}
        run: |
          cd automation
          python main.py
